.card {
  min-height: 400px;
  width: minmax(200px,350px);
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: var(--nav-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.flag {
  height: 60%;
  width: 100%;
  max-width: 100%;
}

.flag img {
  width: 100%;
  height: auto;
  display: block;
}

.informations {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  line-height: 2rem;
}

.field {
  text-transform: capitalize;
  font-weight: bold;
}
