.details {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  padding: 2rem;

  gap: 2rem;
}

.link {
  height: 10%;
}

.link button {
  padding: 1rem 2rem;
  color: var(--primary-text);
  background-color: var(--box);
  border: transparent;
  border-radius: 8px;
  outline: transparent;
  box-shadow: var(--nav-shadow);
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

.link button:hover {
  scale: 1.1;
}

.card {
  /* border: 1px solid white; */
  height: 90%;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'flag'
    'infos';
  margin-bottom: 2rem;
}

.informations {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'flag'
    'info1'
    'info2'
    'borders';
}

.title {
  font-size: xx-large;
  margin-bottom: 1rem;
}

.field {
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.9rem;
}

.bordersStyle {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
