:root {
  /* blue */
  --blue-lighter: #2b3945;
  --blue-normal: #202c37;
  --blue-bolder: #111517;

  /* grey */
  --grey-lighter: #ffffff;
  --grey-normal: #fafafa;
  --grey-bolder: #858585;
}

:root .dark {
  --primary-text: var(--grey-lighter);
  --bg: var(--blue-normal);
  --box: var(--blue-lighter);
  --nav-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

:root .light {
  --primary-text: var(--blue-bolder);
  --bg: var(--grey-normal);
  --box: var(--grey-normal);
  --nav-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
}

#__next {
  height: inherit;
  width: inherit;
  overflow: hidden;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
  color: var(--primary-text);
  background-color: var(--bg);
}

.hero {
  height: 8rem;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--nav-shadow);
  background-color: var(--box);
}

.hero .title {
  font-weight: 900;
}

.theme-toggle-container {
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
  font-weight: bold;
  cursor: pointer;
}
