.layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12fr 83fr 5fr;
  background-color: var(--bg);
  color: var(--primary-text);
}

.header,
.main,
.footer {
  height: 100%;
  width: 100%;
}

.header,
.footer {
  background-color: var(--box);
  box-shadow: var(--nav-shadow);
}

.header {
  display: flex;
  justify-content: center;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 90fr;
  padding: 0 2rem;
  padding-top: 2rem;
  overflow: scroll;
  align-self: center;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 1560px;
  margin: auto;
}

.footer {
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-bolder);
}
