.hero {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.themeToggleContainer {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}