.filterhWraper {
  height: 3rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.searchWraper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--box);
  box-shadow: var(--nav-shadow);
  border-radius: 8px;
  padding: 0.5rem;
}

.searchWraper .icon {
  font-weight: bold;
  width: 10%;
  height: 100%;
  color: var(--placeholder-text);
}

.searchWraper input {
  height: 3rem;
  width: 90%;
  flex-grow: 1;
  border: transparent;
  outline: transparent;
  background-color: transparent;
  color: var(--primary-text);
}

.select {
  width: 100%;
  padding: 0.5rem;
  height: 2rem;
  border: transparent;
  outline: transparent;
  background-color: var(--box);
  color: var(--primary-text);
  box-shadow: var(--nav-shadow);
  border-radius: 8px;
}

