.hero {
  height: 8rem;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--nav-shadow);
  background-color: var(--box);
}

.title {
  font-weight: 900;
}

.themeToggleContainer {
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
  font-weight: bold;
  cursor: pointer;
}
